<div id="landing">

    <div class="inner">

        <div class="container">

            <div class="row">


                <div class="span3 landing-text">
                    &nbsp;
                </div> <!-- /landing-text -->

                <div class="span6 landing-screenshot">
                        <img src="/img/bahia.jpg" alt="Screenshot" class="screengrab" style="padding-bottom: 5px;"/>
                    <div class="progress progress-striped active">
                        <div class="bar" style="width: 100%;"></div>
                    </div>
                </div>

                <div class="span3 landing-text">
                    &nbsp;
                </div> <!-- /landing-text -->


            </div> <!-- .row -->

        </div> <!-- /container -->

    </div> <!-- /inner -->

</div> <!-- /landing -->