<div>
    <div class="inline">
        <label>Сортировать по</label>
        <div data-partial-view="Ural/Views/Filter/_OrderByList" data-bind="with: orderBy"/>
    </div>
    <div class="inline">
        <button style="margin-bottom: 10px; margin-left: 30px" class="btn btn-primary" href="#" data-bind="click: change"><i class="icon-search icon-white"></i> Поиск</button>
    </div>
</div>
<div data-bind="with: country">
    <label>Страны</label>
    <!--
    <div data-partial-view="Ural/Views/Filter/_TagsList" data-bind="with: country"
         data-partial-view-bag="{link: 'Country'}"/>
    -->
    <select style="width: 200px;" data-bind="value: selectedOpt().id, options: opts(), optionsText: 'name', optionsValue : 'id'"/>
</div>
<div data-bind="with: dateRange">
    <div class="inline">
        <label>Дата заезда (от)</label>
        <input class="input-small" type="date" data-bind="date: from">
    </div>
    <div class="inline">
        <label>Дата выезда (по)</label>
        <input class="input-small" type="date" data-bind="date: to">
    </div>
</div>
<div data-bind="with: nights">
    <div class="inline">
        <label>Ночей от</label>
        <input data-bind="val: from" class="input-small">
    </div>
    <div class="inline">
        <label>Ночей по</label>
        <input data-bind="val: to" class="input-small">
    </div>
</div>
<!-- ko with: price -->
<div>
    <div class="inline">
        <label>Цена от</label>
        <input class="input-small" data-bind="val: from"/>
    </div>
    <div class="inline">
        <label>Цена до</label>
        <input class="input-small" data-bind="val: to"/>
    </div>
    <select style="width: 200px;" data-bind="options: currList, value: curr"/>
</div>
<!-- /ko -->
<div data-bind="with: stars">
    <div class="inline">
        <label>Зведы от</label>
        <input class="input-small" data-bind="val: from"/>
    </div>
    <div class="inline">
        <label>Зведы по</label>
        <input class="input-small" data-bind="val: to"/>
    </div>
</div>
<div>
    <label>Питание</label>
    <div data-partial-view="Ural/Views/Filter/_TagsList" data-bind="with: food"
         data-partial-view-bag="{link: 'Food'}"/>
</div>
