<div data-bind="template: {name:'storedRequestTemplate', foreach: index.list}">
</div>
<script type="text/x-jquery-tmpl" id="storedRequestTemplate">
    <div>
        <i class="icon-remove" data-bind="click: $parents[3].remove"></i>
        <!-- ko with: item -->
        <span data-bind="text: msg"></span>
        <!-- /ko -->
    </div>
</script>