<div data-bind="template: {name:'storedFilterTemplate', foreach: index.list}">
</div>
<script type="text/x-jquery-tmpl" id="storedFilterTemplate">
    <div>
        <i class="icon-remove" data-bind="click: $parents[3].remove"></i>
        <!-- ko with: item -->
        <i class="icon-share-alt" data-bind="click : $parents[1].open"></i>
        <a data-bind="text: name, click : $parents[1].show"></a>
        <!-- /ko -->
    </div>
</script>