<div id="save_filter_form" class="modal hide fade" style="display: none;" data-form-model-type="Filter" data-form-type="create" data-bind="with: $root.vm.zones.toolbox.filter.stored.index.active">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Сохранить фильтр</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" data-bind="with: item">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="input01">Имя</label>
                    <div data-bind="validationMessage: name" class="validationMessage"></div>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="input01" data-bind="value: name">
                    </div>
                </div>
                <!--
                <div class="control-group">
                    <label class="control-label">Сообщать</label>
                    <div data-bind="validationMessage: notifyby" class="validationMessage"></div>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="notifybyGroup" id="checkbox2" value="email"
                                   data-bind="checked: notifybyEmail" disabled>
                            E-mail
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="notifybyGroup" id="checkbox1" value="twitter"
                                   data-bind="checked: notifybyTwitter" disabled>
                            Twitter
                            <div data-bind="visible: notifybyTwitter">
                                <span class="help-inline"><small>Вы должны быть подписаны на TwiTur_ru</small></span>
                                <iframe id="twitter_button" allowtransparency="true" frameborder="0" scrolling="no"
                                        src="//platform.twitter.com/widgets/follow_button.html?screen_name=TwiTur_ru"
                                        style="width:300px; height:20px;"></iframe>
                                </div>
                            </span>
                        </label>
                    </div>
                </div>
                -->
                <div class="control-group">
                    <div class="controls">
                        <select id="select01" data-bind="options: spanList, optionsText : 'name', optionsValue : 'id', value: notifyspan">
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-bind="click: cancel">Отменить</a>
        <a href="#" class="btn btn-primary" data-bind="click: save">Сохранить</a>
    </div>
</div>