<ul class="nav nav-list" data-bind="with: $root.vm.zones.toolbox">
    <li>
    <div class="accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Фильтр
                </a>
                <button style="display: inline; margin-top: -25px; margin-left: 140px;" class="btn btn-mini btn-primary"
                        data-bind="click: filter.stored.store">
                    <i class="icon-star icon-white"></i>
                    Сохранить</button>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                <div data-partial-view="Views/Tour/Index/Toolbox/FilterPanel" data-bind="with: filter"/>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Сохраненные
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                    <div data-partial-view="Views/Tour/Index/Toolbox/StoredFiltersPanel" data-bind="with: filter.stored"/>
                </div>
            </div>
            </div>
        </div>
    </div>
    </li>
</ul>
<div data-bind="with: filter.stored.index.active" data-partial-view="Views/Tour/Index/Toolbox/StoreFilterForm"></div>
