<div id="content">

    <div class="inner">

        <div class="container">

            <div class="row">

                <div class="span12">

                    <div>
                        <div id="index_tab" class="tab-content" data-bind="visible: zones.tabs.active() == 'index'">
                            <div data-partial-view="Views/Tour/Index/ListTab"></div>
                        </div>
                        <div id="filter_tab" class="tab-content"  data-bind="visible: zones.tabs.active() == 'search'">
                            <div data-partial-view="Views/Tour/Index/FilterTab"></div>
                        </div>
                        <div id="stored_tab" class="tab-content" data-bind="visible: zones.tabs.active() == 'filters'">
                            <div data-partial-view="Views/Tour/Index/StoredFiltersTab"></div>
                        </div>
                        <div id="stored_req_tab" class="tab-content" data-bind="visible: zones.tabs.active() == 'requests'">
                            <div data-partial-view="Views/Tour/Index/StoredRequestsTab"></div>
                        </div>
                    </div>


                </div> <!-- /span8 -->


            </div> <!-- /row -->

        </div> <!-- /container -->

    </div> <!-- /inner -->
</div> <!-- /content -->

