<h3><span class="slash">//</span>Поиск туров</h3>
<div class="alert alert-error">
    Сайт работает в тестовом режиме, поэтому данные не обновляются.
    Данные доступны на период с 30 Августа 2012 по 17 Декабря 2012.
</div>
<div class="notify-herader" data-bind="visible: $root.vm.zones.toolbox.filter.wasModified">
    <i class="icon-exclamation-sign"></i> Фильтр был изменен.
</div>
<div class="row">
<div class="span4">
    <form method="post" action="/contact" data-bind="with : $root.vm.zones.toolbox">
        <fieldset data-bind="with : filter">
            <div class="clearfix">
                <label for="orderBy"><span>Сортировать по:</span></label>

                <div class="input" data-bind="with: orderBy">
                    <select id="orderBy" class="input-xlarge"
                            data-bind="options: opts, optionsText: 'val', value: selectedOpt, optionsCaption: '...'"></select>
                </div>
            </div>

            <div class="clearfix">
                <label for="country"><span>Страна:</span></label>

                <div class="input" data-bind="with: country">
                    <select id="country" class="input-xlarge"
                            data-bind="value: selectedOpt().id, options: opts(), optionsText: 'name', optionsValue : 'id'"/>
                </div>
            </div>

            <div class="clearfix" data-bind="with: dateRange">
                <div class="row">
                    <div class="span4">
                        <div data-bind="validationMessage: to" class="validationMessage"></div>
                        <div data-bind="validationMessage: from" class="validationMessage"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        <label for="dateForm"><span>Дата заезда (от):</span></label>

                        <div class="input">
                            <input id="dateForm" class="input-small" data-bind="date: from">
                        </div>
                    </div>
                    <div class="span2">
                        <label for="dateTo"><span>Дата заезда (по):</span></label>

                        <div class="input">
                            <input id="dateTo" class="input-small" data-bind="date: to">
                        </div>
                    </div>
                    <div class="span8">
                        &nbsp;
                    </div>
                </div>
            </div>

            <div class="clearfix" data-bind="with: nights">
                <div class="row">
                    <div data-bind="validationMessage: from" class="validationMessage"></div>
                    <div class="span2">
                        <label for="nightsForm"><span>Ночей (от):</span></label>

                        <div class="input">
                            <input id="nightsForm" class="input-small"
                                   data-bind="mval: from, mvalOpts : { mask : '[1-9]|[1-3][0-9]', num : true }">
                        </div>
                    </div>
                    <div class="span2">
                        <label for="nightsTo"><span>Ночей (по):</span></label>

                        <div class="input">
                            <input id="nightsTo" class="input-small"
                                   data-bind="mval: to, mvalOpts : { mask : '[1-9]|[1-3][0-9]', num : true }">
                        </div>
                    </div>
                    <div class="span8">
                        &nbsp;
                    </div>
                </div>
            </div>

            <!-- ko with : price -->
            <div class="clearfix">
                <div class="row">
                    <div data-bind="validationMessage: from" class="validationMessage"></div>
                    <div class="span2">
                        <label for="priceForm"><span>Цена (от):</span></label>

                        <div class="input">
                            <input id="priceForm" class="input-small"
                                   data-bind="mval: from, mvalOpts : { mask : '[1-5][0-9]{0,5}', num : true }">
                        </div>
                    </div>
                    <div class="span2">
                        <label for="priceTo"><span>Цена (по):</span></label>

                        <div class="input">
                            <input id="priceTo" class="input-small"
                                   data-bind="mval: to, mvalOpts : { mask : '[1-5][0-9]{0,5}', num : true }">
                        </div>
                    </div>
                    <div class="span8">
                        &nbsp;
                    </div>
                </div>
            </div>

            <div class="clearfix">
                <label for="currency"><span>Валюта:</span></label>

                <div class="input">
                    <select id="currency" class="input-xlarge" data-bind="options: currList, value: curr"/>
                </div>
            </div>

            <!-- /ko -->

            <div class="clearfix" data-bind="with: stars">
                <div class="row">
                    <div data-bind="validationMessage: from" class="validationMessage"></div>
                    <div class="span2">
                        <label for="starsForm"><span>Звезды (от):</span></label>

                        <div class="input">
                            <input id="starsForm" class="input-small"
                                   data-bind="mval: from, mvalOpts : { mask : '[1-5]', num : true }">
                        </div>
                    </div>
                    <div class="span2">
                        <label for="starsTo"><span>Звезды (по):</span></label>

                        <div class="input">
                            <input id="starsTo" class="input-small"
                                   data-bind="mval: to, mvalOpts : { mask : '[1-5]', num : true }">
                        </div>
                    </div>
                    <div class="span8">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="actions">
                <input type="submit" class="btn btn-primary btn-large" value="Поиск"
                       data-bind="click : $root.vm.zones.tabs.find, enable : checkValid()">
                &nbsp;&nbsp;&nbsp;
                <input type="submit" class="btn btn-warning btn-large" value="Сохранить"
                       data-bind="click: $root.vm.zones.toolbox.filter.stored.store, enable : checkValid()">
            </div>

        </fieldset>
    </form>
</div>
<div class="span8">
    <div class="accordion" id="accordion" data-bind="with : $root.vm.zones.toolbox.filter">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
                    Питание
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner" data-bind="with: food">
                    <div class="row">
                        <div class="span8">
                            <i class="icon-adjust accordion-toolbox-button" data-bind="click : toggleSelect"></i>
                            <i class="icon-indent-right accordion-toolbox-button" data-bind="click : selectAll"></i>
                            <i class="icon-indent-left accordion-toolbox-button" data-bind="click : unselectAll"></i>
                            <a href="#wiki" class="accordion-toolbox-wiki">wiki</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4" style="margin-left: 20px;">
                            <small>показывать</small>
                            <select style="width: 100%; height: 200px;" multiple="multiple"
                                    data-bind="options: selectedOpts, selectedOptions : activeOpts, optionsValue : 'id', optionsText: 'nameex', event: { dblclick: toggleSelect } ">
                            </select>
                        </div>
                        <div class="span4" style="margin-left: 5px;">
                            <small>скрывать</small>
                            <select style="width: 100%; height: 200px;" multiple="multiple"
                                    data-bind="options: unselectedOpts, selectedOptions : activeOpts, optionsValue : 'id', optionsText: 'nameex', event: { dblclick: toggleSelect } ">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
                    Регион
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner" data-bind="with: regions">
                    <div class="row">
                        <div class="span8">
                            <i class="icon-adjust  accordion-toolbox-button" data-bind="click : toggleSelect"></i>
                            <i class="icon-indent-right accordion-toolbox-button" data-bind="click : selectAll"></i>
                            <i class="icon-indent-left accordion-toolbox-button" data-bind="click : unselectAll"></i>
                            <a href="#wiki" class="accordion-toolbox-wiki">wiki</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4" style="margin-left: 20px;">
                            <small>показывать</small>
                            <select style="width: 100%; height: 200px;" multiple="multiple"
                                    data-bind="options: selectedOpts, selectedOptions : activeOpts, optionsValue : 'id', optionsText: 'label', event: { dblclick: toggleSelect } ">
                            </select>
                        </div>
                        <div class="span4" style="margin-left: 5px;">
                            <small>скрывать</small>
                            <select style="width: 100%; height: 200px;" multiple="multiple"
                                    data-bind="options: unselectedOpts, selectedOptions : activeOpts, optionsValue : 'id', optionsText: 'label', event: { dblclick: toggleSelect } ">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
                    Отели
                </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner" data-bind="with: hotels">
                    <div class="row">
                        <div class="span8">
                            <i class="icon-adjust accordion-toolbox-button" data-bind="click : toggleSelect"></i>
                            <i class="icon-indent-right accordion-toolbox-button" data-bind="click : selectAll"></i>
                            <i class="icon-indent-left accordion-toolbox-button" data-bind="click : unselectAll"></i>
                            <a href="#wiki" class="accordion-toolbox-wiki">wiki</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4" style="margin-left: 20px;">
                            <small>показывать</small>
                            <select style="width: 100%; height: 200px;" multiple="multiple"
                                    data-bind="options: selectedOpts, selectedOptions : activeOpts, optionsValue : 'id', optionsText: 'label', event: { dblclick: toggleSelect } ">
                            </select>
                        </div>
                        <div class="span4" style="margin-left: 5px;">
                            <small>скрывать</small>
                            <select style="width: 100%; height: 200px;" multiple="multiple"
                                    data-bind="options: unselectedOpts, selectedOptions : activeOpts, optionsValue : 'id', optionsText: 'label', event: { dblclick: toggleSelect } ">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div data-partial-view="Views/Tour/Index/Toolbox/StoreFilterForm"></div>
