<div id="subheader" class="subnav-fixed" xmlns="http://www.w3.org/1999/html">

    <div class="inner">

        <div class="container">

            <div class="row">
                <div class="span9" data-bind="with : zones.tabs">
                    <h2 style="width: 90%" data-bind="css : {disabled : disabled}"  >
                        <span class="slash">//</span><a class="nav-tab-header" href="/#/tour/index"
                                                        id="index_nav_header"
                                                        data-bind="link : null, css : {'nav-tab-header-active' : active() === 'index'}">Туры</a>
                        <span class="slash">//</span><a class="nav-tab-header" href="/#/tour/search"
                                                        id="filter_nav_header"
                                                        data-bind="link : null, css : {'nav-tab-header-active' : active() === 'search'}">Поиск</a>
                        <span class="slash">//</span><a class="nav-tab-header" href="/#/tour/filters"
                                                        id="stored_nav_header"
                                                        data-bind="link : null, css : {'nav-tab-header-active' : active() === 'filters'}">Фильтры</a>
                        <span class="slash">//</span><a class="nav-tab-header" href="/#/tour/requests"
                                                        id="request_nav_header"
                                                        data-bind="link : null, css : {'nav-tab-header-active' : active() === 'requests'}">Запросы</a>
                    </h2>
                </div>
                <div class="span3">
                    <span class="status" data-bind="text: zones.state.statusText"></span>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /inner -->

</div> <!-- /subheader -->


<div id="_body" class="body-content">
</div>