<div id="content_loading" data-bind="loading : zones.state.isFiltering, loadingOpts : {toggleLayout : 'list_content'}" >
    <div class="span3">&nbsp;</div>
    <div class="span6 landing-screenshot">
        <img src="/img/bahia.jpg" alt="Screenshot" class="screengrab" style="padding-bottom: 5px; margin-top: 25px;"/>
        <div class="progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
        </div>
    </div>
    <div class="span3">&nbsp;</div>
</div>
