<h3><span class="slash">//</span>
    <!-- ko if : $root.vm.zones.state.clientContext.type() !== "request" && $root.vm.zones.state.clientContext.type() !== "error" -->
        <!-- ko if : $root.vm.zones.state.clientContext.type() === "filter" -->
        <span data-bind="html: $root.vm.zones.state.clientContext.title"></span>
        <!-- /ko -->
        <!-- ko with : $root.vm.zones.toolbox.filter -->
        <img width="32" height="32" data-bind="attr : {src : flagIconSrc}" alt="flag"/>
        <!-- /ko -->
        <span data-bind="text: $root.vm.zones.toolbox.filter.descrView"></span>
        <a href="/#/tour/search" data-bind="link: null"><!-- data-bind="click: $root.vm.zones.tabs.showFilter"> -->
            <small>изменить</small>
        </a>
    <!-- /ko -->
    <!-- ko if : $root.vm.zones.state.clientContext.type() === "request" || $root.vm.zones.state.clientContext.type() === "error"-->
    <span data-bind="html: $root.vm.zones.state.clientContext.title"></span>
    <!-- /ko -->
</h3>
<div data-partial-view="Views/Tour/Index/ListLoading"/>
<div id="list_content">
    <div data-bind="visible: $root.vm.zones.state.isNotEmptyResult">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>отель</th>
                <th>заезд</th>
                <th>выезд</th>
                <th>ночи</th>
                <th>питание</th>
                <th>проживание</th>
                <th>наличие</th>
                <th>цена</th>
            </tr>
            </thead>
            <tbody data-bind="template: {name:'tourRowTemplate', foreach: list}" id="#tour_list_content">
        </table>
    </div>
    <div data-partial-view="Views/Shared/EmptyResult" data-bind="visible: $root.vm.zones.state.isEmptyResult"/>
    <!--<div data-partial-view="Ural/Views/_Pager" data-bind="with: $root.vm.zones.pager"/>-->
    <div data-partial-view="Views/Tour/Index/Row"/>
    <div data-partial-view="Views/Tour/Index/RequestForm"/>
</div>

