<div id="request_form" class="modal hide fade" style="display: none;" data-form-model-type="Request" data-form-type="create" data-bind="with : $root.vm.zones.request.index.active">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Отправить запрос</h3>
    </div>
    <div class="modal-body">
        <form class="form-vertical" data-bind="with: item">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="msg">Сообщение для турагентов</label>
                    <div data-bind="validationMessage: msg" class="validationMessage"></div>
                    <div class="controls">
                        <textarea id="msg" class="twitter-anywhere-tweet-box-editor" style="width: 520px; height: 70px; overflow: hidden; " dir="ltr" data-bind="value: msg"></textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-bind="click: cancel">Отменить</a>
        <a href="#" class="btn btn-primary" data-bind="click: save">Опубликовать</a>
    </div>
</div>