<script type="text/x-jquery-tmpl" id="tourRowTemplate">
    <tr data-bind="with: item">
        <td style="max-width: 250px;">
            <a data-bind="attr : {href: hotellk}" target="_blank">
                <span data-bind="text: hotel"></span>&nbsp;
                <span data-bind="text: stars"></span>*
            </a>
            &nbsp;<small class="muted sub-text"><span data-bind="text: regionName"></span></small>
        </td>
        <td data-bind="ddate: checkin, ddateOpts : {format : 'D MMMM'}"></td>
        <td data-bind="ddate: checkout, ddateOpts : {format : 'D MMMM'}"></td>
        <td data-bind="text: nights"></td>

        <td data-bind="popover: foodLabel, popoverOpts : {title : 'Питание'}">
            <span data-bind="text: foodName"></span>&nbsp;<small class="muted sub-text" data-bind="text: food"></small>
        </td>
        <td><span data-bind="text: suitecat"></span>&nbsp;<small class="muted sub-text" data-bind="text: roomsCountText"></small></td>
        <td class="row-icons-container">
            <a href="#" data-bind="tooltip: itst"><i data-bind="attr : { class : ctst}"></i></a>&nbsp;
            <a href="#" data-bind="tooltip: itsf"><i data-bind="{attr : { class : ctsf}}"></i></a>&nbsp;
            <a href="#" data-bind="tooltip: ihs"><i data-bind="{attr : { class : chs}}"></i></a>&nbsp;
            <a href="#" data-bind="popover: info, popoverOpts : {title : 'Информация о туре'}"><i class="icon-book row-icon-yes"></i></a></td>
        <td><a data-bind="click: send" class="price"><span data-bind="text:fullPrice"></span></a></td>

    </tr>
</script>


