<link href="/css/pages/about.css" rel="stylesheet">

<div class="row" data-bind="with: $root.vm.zones.request">

    <div class="span12">
        <h3><span class="slash">//</span> Сохраненные запросы</h3>
    </div> <!-- /span12 -->


    <div id="req_cards_container" data-bind="template: {name:'storedRequestCardTemplate', foreach: index.list}">
    </div>

    <div data-partial-view="Views/Tour/Index/StoredRequestCard"/>

</div> <!-- /row -->

