<link href="/css/pages/about.css" rel="stylesheet">

<div class="row" data-bind="with: $root.vm.zones.toolbox.filter.stored">

    <div class="span12">
        <h3><span class="slash">//</span> Сохраненные фильтры</h3>
    </div> <!-- /span12 -->


    <div id="cards_container" data-bind="template: {name:'storedFilterCardTemplate', foreach: index.list}">
    </div>

    <div data-partial-view="Views/Tour/Index/StoredFilterCard"/>

</div> <!-- /row -->

