<script type="text/x-jquery-tmpl" id="storedRequestCardTemplate">
    <div class="span4">
        <div class="about-user" data-bind="with: item">
            <h4 data-bind="tdate: date">
            </h4>
            <p data-bind="text: msg"></p>
            <div class="card-button-container">
                <!-- ko with : $parent -->
                <a class="card-button" data-bind="tooltip: 'удалить запрос', click : $root.vm.zones.request.index.remove"><i class="icon-remove"></i></a>
                <!-- /ko -->
            </div>
        </div> <!-- /about-user -->

    </div> <!-- /span4 -->
</script>
