<script type="text/x-jquery-tmpl" id="storedFilterCardTemplate">
    <div class="span4">
        <div class="about-user" data-bind="with: item">
            <div class="flag">
                <img data-bind="attr : {src : flagIconSrc}" alt="flag" />
            </div>
            <h4 data-bind="text: name">
            </h4>
            <p data-bind="text: descr"></p>
            <div class="card-button-container">
                <a class="card-button" data-bind="tooltip: 'показать фильтр', click : function(d,e) { $root.vm.zones.tabs.openStored(d, $parents[1], e); }"><i class="icon-th-list"></i></a>
                &nbsp;
                <!-- ko with : $parent -->
                <a class="card-button" data-bind="tooltip: 'удалить фильтр', click : $root.vm.zones.toolbox.filter.stored.index.remove"><i class="icon-remove"></i></a>
                <!-- /ko -->
                &nbsp;
                <a class="card-button" data-bind="tooltip: 'показать фильтр в новом окне', click : $parents[1].open"><i class="icon-share-alt"></i></a>
            </div>
        </div> <!-- /about-user -->

    </div> <!-- /span4 -->
</script>
