<h3><span class="slash">//</span>Сообщения</h3>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody data-bind="template: {name:'exchRowTemplate', foreach: list}">
        </tbody>
    </table>
    <!-- ko with : $root.vm.zones.pager -->
    <a href="#" data-bind="click: moveNext, css: { disabled : !canMoveNext() || movingTo() }">
        <small>ещё (gimmamor)</small>
    </a>
    <!-- /ko -->
</div>
<div data-partial-view="Views/Cabin/Index/Row"/>
