
<div id="content">

    <div class="inner">

        <div class="container">

            <div class="row">

                <div class="span12">

                    <div>
                        <div id="exchange_tab">
                            <div data-partial-view="Views/Cabin/Index/ExchangeTab"></div>
                        </div>
                        <div id="board_tab" style="display: none;">
                            <div data-partial-view="Views/Cabin/Index/BoardTab"></div>
                        </div>
                    </div>

                </div> <!-- /span8 -->


            </div> <!-- /row -->

        </div> <!-- /container -->

    </div> <!-- /inner -->

</div> <!-- /content -->