<div id="subheader" class="subnav-fixed">

    <div class="inner">

        <div class="container">
            <div class="row">
                <div class="span9" data-bind="with : zones.tabs">
                    <h2 style="width: 90%" data-bind="css : {disabled : disabled}">
                        <span class="slash">//</span><a class="nav-tab-header " href="/#/cabin/board"
                                                        data-bind="link : null, css : {'nav-tab-header-active' : active() === 'board'}">Сообщения</a>
                        <span class="slash">//</span><a class="nav-tab-header" href="/#/cabin/exchange"
                                                        data-bind="link : null, css : {'nav-tab-header-active' : active() === 'exchange'}">Биржа</a>
                    </h2>
                </div>
                <div class="span3">
                    <span class="status" data-bind="text: zones.state.statusText"></span>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /inner -->

</div> <!-- /subheader -->

<div id="_body" class="body-content">
</div>
