<script type="text/x-jquery-tmpl" id="exchRowTemplate">
    <tr data-bind="with: item, click: $parent.detail">
        <td width="1%" class="row-icons-container"><a data-bind="tooltip: ltype"><i data-bind="attr : { class : ctype}"></i></a></td>
        <td> <span class="exchange-trans-user">@<span data-bind="text: user"></span></span>&nbsp;<span data-bind="text: msg"></span></td>
        <td width="1%"></span><span class="label label-success exchange-trans-date" data-bind="text: duration"></span></td>
    </tr>
</script>


