/* amend : tagit / bootsrapper intersection */
ul.tagit {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 190px;
}

ul.tagit.search-query
{
    margin-bottom: -12px;
}

div.inline
{
    display: inline-block;
}

.validationMessage
{
    color: Red;
}

.form-vertical  .control-group > div.validationMessage
{
    margin-left: 0px;
    color: Red;
}

.form-horizontal  .control-group > div.validationMessage
{
    margin-left: 160px;
    color: Red;
}

.clearfix > .row > div.validationMessage
{
    margin-left: 30px;
    color: Red;
}

#toast-container
{
    margin-top: 60px;
}


.nav-tab-header
{
    text-decoration: none;
    cursor:  pointer;
    color: #c1c1c1;
}

.nav-tab-header:hover
{
    color: #f5deb3;
    text-decoration: none;
}

.nav-tab-header-active
{
    color: #ffffff;
}


.card-button-container
{
    margin-top: -17px;
}

.card-button
{
    margin-top: -15px;
    font-weight: bold;
    font-size: 19px;
    color: green;
    cursor: pointer;
}

.card-button:hover
{
    color: #adff2f;
    text-decoration: none;
    cursor: pointer;
}

.about-user .flag {
    float: left;
    width: 65px;
    margin: 0 1em .5em 0;
}

.notify-herader
{
    font-size: 19px;
    color: green;
}

.row-icons-container
{
    font-size: 20px;
    color: #28b9ff;
}

.row-icon-yes
{
    color: #28b9ff;
}

.row-icon-request
{
    color: #adff2f;
}

.row-icon-few
{
   color: #ff8bef;
}

.row-icon-no
{
    color: #fcdba5;
}

.row-icon-unknown
{
    color: #c1c1c1;
}

.price
{
    cursor: pointer;
    text-decoration: none;
}

/*font*/

div.span4 p {
    font-family: Georgia !important;
}

ul.footer-links.clearfix li a {
    font-family: Palatino, "Palatino Linotype", serif !important;
}

ul.nav.pull-right li a {
    font-family: Georgia !important;
}

div h3 span {
    font-family: Georgia !important;
}

.social-icon-user-voice {
    margin-left: 20px;
	background: url(../../img/social/user-voice.png) no-repeat 0 0 !important;					
}

.social-icon-gmail {
	background: url(../../img/social/gmail.png) no-repeat 0 0 !important;					
}

.exchange-trans-user {
}

.exchange-trans-date {
    float: right;
}

.disabled {
    color: #dcdcdc;
    pointer-events: none;
    cursor: default;
}

#content
{
    min-height: 1000px;
}

#content_loading
{
    min-height: 1000px;
}

#layout_switching
{
    min-height: 1000px;
    display: none;
}

.container .breadcrumbs
{
    margin-top: -10px;
    margin-bottom: -10px;
    margin-right: 10px;
    float: right;
}

.container .status
{
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

.popover-info
{
    width: 700px;
}

.accordion-toolbox-button
{
    padding-right: 20px;
    font-size: 30px;
}

.accordion-toolbox-wiki
{
    float: right;
    margin-right: 50px;
}

.sub-text
{
    font-size: 10px;
}


.navbar-fixed-top
{
    position: fixed;
}

.subnav-fixed
{
    position: fixed;
    top: 69px;
    width: 100%;
    z-index: 999;
}

.body-content
{
    margin-top: 147px;
    position: static;
}

