﻿
<div class="navbar navbar-fixed-top">

    <div class="navbar-inner">

        <div class="container">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="./">
                TwiTur
            </a>

            <div class="nav-collapse">
                <ul class="nav pull-right" data-bind="with: navBar">
                    <li data-bind="css : {disabled : disabled, active : active() === 'tour'}">
                        <a href="/#/tour/index" data-bind="link: null">
                            Туры
                        </a>
                    </li>
                    <li data-bind="css : {disabled : disabled, active : active() === 'cabin'}">
                        <a href="/#/cabin/board" data-bind="link: null">
                            Кабинет
                        </a>
                    </li>
                    <li>
                        <a href="http://twitur.uservoice.com/knowledgebase/articles/87967" target="_blank">
                            О приложении
                        </a>
                    </li>

                    <li>
                        <a href="http://data-avail.blogspot.com/2012/07/baio1980-max.html" target="_blank">
                            О нас
                        </a>
                    </li>

                    <li>
                        <a href="https://twitur.uservoice.com/knowledgebase" target="_blank">
                            FAQ
                        </a>
                    </li>

                    <li>
                        <a href="http://twitur.uservoice.com/knowledgebase/articles/94844" target="_blank">
                            Контакты
                        </a>
                    </li>
                    <li class="dropdown" data-bind="with: currToolbox" >
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuCurr">
                            <i class="icon-money"></i>
                            <span data-bind="text:active">EUR</span>
                            <b class="caret"></b>
                        </a>
                        <!--
                        <ul class="dropdown-menu" data-bind="foreach: dropDown">
                            <li><a href="#" data-bind="click: $parent.select, text: $data"></a></li>
                        </ul>
                        -->
                        <ul class="dropdown-menu">
                            <li><a href="#" data-bind="click: select">EUR</a></li>
                            <li><a href="#" data-bind="click: select">USD</a></li>
                            <li><a href="#" data-bind="click: select">RUB</a></li>
                        </ul>
                    </li>
                    <!-- ko with : $root.vm.zones.user -->
                    <li class="dropdown" data-bind="visible: name()" style="display: none;">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                            <i class="icon-user"></i>
                            <span data-bind="text: name"></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-bind="click : logOff">Выйти</a></li>
                        </ul>
                    </li>
                    <li data-bind="visible: !name()" style="display: none;">
                        <a href="#" data-bind="click : logOn">
                            <i class="icon-user"></i>
                            Войти
                        </a>
                    </li>
                    <!-- /ko -->
                </ul>

            </div><!--/.nav-collapse -->

        </div> <!-- /container -->

    </div> <!-- /navbar-inner -->

</div> <!-- /navbar -->

<!-- layout -->
        
<div id="_layout" data-bind="with: vm">
    <div id="landing">

        <div class="inner">

            <div class="container">

                <div class="row">


                    <div class="span3 landing-text">
                        &nbsp;
                    </div>

                    <div class="span6 landing-screenshot">
                        <img src="/img/bahia.jpg" alt="Screenshot" class="screengrab" style="padding-bottom: 5px;"/>
                        <div class="progress progress-striped active">
                            <div class="bar" style="width: 100%;"></div>
                        </div>
                    </div>

                    <div class="span3 landing-text">
                        &nbsp;
                    </div>


                </div>

            </div>

        </div>

    </div>
</div>

<!-- ^layout -->

<div id="extra">

    <div class="inner">

        <div class="container">

            <div class="row">

                <div class="span4">

                    <h3><span class="slash">//</span> Быстрые линки</h3>


                    <ul class="footer-links clearfix">
                        <li><a href="./#/tour/index">Поиск туров</a></li>
                        <li><a href="./#/tour/filters">Сохраненные фильтры</a></li>
                        <li><a href="http://twitur.uservoice.com/knowledgebase/articles/87967" target="_blank">О приложении</a></li>
                        <li><a href="http://data-avail.blogspot.com/2012/07/baio1980-max.html" target="_blank">О нас</a></li>
                        <li><a href="https://twitur.uservoice.com/knowledgebase" target="_blank">FAQ</a></li>
                    </ul>

                    <ul class="footer-links clearfix">
                        <li><a href="http://twitur.uservoice.com" target="_blank">Поддержка</a></li>
                        <li><a href="http://twitur.uservoice.com/knowledgebase/articles/94852" target="_blank">Лицензия</a></li>
                        <li><a href="http://twitur.uservoice.com/knowledgebase/articles/94852" target="_blank">Условия использования</a></li>
                        <li><a href="http://twiturstat.apphb.com" target="_blank">Статус</a></li>
                        <li><a href="http://data-avail.blogspot.com" target="_blank">Блог</a></li>
                    </ul>

                </div> <!-- /span4 -->


                <div class="span4">

                    <h3><span class="slash">//</span> Контакты</h3>


                    <p>За этим приложением стоят реальные люди, поэтому если у вас есть вопрос или предложение (неважно на сколько маленькое) не сомневайтесь, обращайтесь:</p>

                    <ul class="social-icons-container">

                        <li>
                            <a href="https://twitter.com/share?lang=ru&text=@@TwiTur_ru" class="twitter-share-button social-icon social-icon-twitter" data-lang="ru" rel="nofollow" target="_blank">Twitter</a>
                            <a href="javascript:UserVoice.showPopupWidget();" title="Открыть форму" class="social-icon social-icon-user-voice">UserVoice</a>
                            <a href="mailto:info@data-avail.com" title="Отправить письмо" class="social-icon social-icon-gmail" target="_blank">GMail</a>
                        </li>

                    </ul> <!-- /extra-social -->

                </div> <!-- /span4 -->


            </div> <!-- /row -->

        </div> <!-- /container -->

    </div> <!-- /inner -->

</div> <!-- /extra -->

<div id="footer">

    <div class="inner">

        <div class="container">

            <div class="row">
                <div id="footer-copyright" class="span4">
                    &copy; 2012 Data-Avail @ViewBag.Version
                </div> <!-- /span4 -->

                <div id="footer-terms" class="span8">

                </div> <!-- /span8 -->
            </div> <!-- /row -->

        </div> <!-- /container -->

    </div> <!-- /inner -->

</div> <!-- /footer -->

<script type="text/javascript">
    var uvOptions = {};
    (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/oGMko6VoGLuCBpOxV4B7A.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
</script>
