<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

@if (ViewBag.Env == "debug")
{  
    @:<html>
}
else
{
    @:<html manifest="/AppConfig/manifest">
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <title>TwiTur</title>


    <link rel="stylesheet" type="text/css" href="/App/Ural/Libs/css/jquery.tagit.css">
    <link rel="stylesheet" type="text/css" href="/App/Ural/Libs/css/jquery.ui.css">
    <link rel="stylesheet" type="text/css" href="/App/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/App/bootstrap/css/bootstrap-responsive.min.css">
    <!--
    <link rel="stylesheet" type="text/css" href="/App/Ural/Libs/css/dynatree/skin-vista/ui.dynatree.css">
    -->
    <link rel="stylesheet" type="text/css" href="/App/Ural/Libs/css/toastr.css">
    <link rel="stylesheet" type="text/css" href="/App/Ural/Libs/css/toastr-responsive.css">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">    
    <link href="/css/font-awesome.css" rel="stylesheet">

    <link href="/css/reboot-landing.css" rel="stylesheet">
    <link href="/css/reboot-landing-responsive.css" rel="stylesheet">

    <link href="/css/themes/green/theme.css" rel="stylesheet">
    <link href="/css/pages/features.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/App/css/rebase.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->  

</head>
<body>      

@RenderBody()
		
<script data-main="/App/Ural/main" src="/App/Ural/require.js"></script>

</body>

</html>